.top-header {
  background: var(--gray-color);
  padding: 13px;
  text-align: center;
}

.top-header h3 {
  font-size: 1.4rem;
}

.navbar {
  display: grid;
  grid-template-columns: auto;
  justify-content: end;
  padding: 1rem 2rem;
}

.navbar li {
  float: left;
  color: var(--primary-color);
}

.navbar li + li {
  margin-left: 2rem;
}

.navbar li > a {
  padding-bottom: 3px;
  border-bottom: 2px solid #ccc;
}
